#ground {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: aquamarine;
}
#character {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    position: absolute;
    bottom: 100px;
    background-color: blueviolet;
}
.obstacles{
    width: 30px;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: 100px;
    right: 0;
    animation: obstacle 4s infinite;
    background-color: blue;
}
.animate{
    animation: jump 1500ms;
}
@keyframes jump{
    0%{
        bottom: 100px
    }
    30%{
        bottom: 400px;
    }
    70%{
        bottom: 400px;
    }
    100%{
        bottom: 100px;
    }
}
@keyframes obstacle{
    0%{
        right: 0px;
    }
    100%{
        
        right: 105%;
    }
}

.hide{
    display: none;
}

.show{
    display: block;
}


.score{
    position: absolute;
    top: 30px;
    right: 50px;
}