#ground {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: aquamarine;
}
#character {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    position: absolute;
    bottom: 100px;
    background-color: blueviolet;
}
.obstacles{
    width: 30px;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 100px;
    right: 0;
    background-color: blue;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{
        bottom: 100px
    }
    30%{
        bottom: 220px;
    }
    70%{
        bottom: 220px;
    }
    100%{
        bottom: 100px;
    }
}


